#header__wrapper {
  background: linear-gradient(to left, salmon, lightsalmon);
  display: flex;
  align-items: center;
  justify-content: center;
}

#header {
  font-size: 17px;
  font-family: 'Noto Sans KR';
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 80px;
  z-index: 10;
  width: 1200px;
}

#header > img {
  margin-top: -2px;
  margin-left: 20px;
  width: 210px;
  cursor: pointer;
}

#nav > #ul {
  display: flex;
  list-style: none;
}

#ul > li {
  margin-left: 10px;
  margin-right: 40px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
  color: white;
}

#ul > li:hover {
  color: gray;
}

.text__link {
  color: inherit;
  cursor: pointer;
  all: unset;
  transition: all 0.3s;
}

.text__link:hover {
  color: teal;
}

.nav-btn {
  all: unset;
}
