.landing__wrapper {
  background: linear-gradient(to right, salmon 20%, lightsalmon 80%);

  display: flex;
  flex-direction: column;
  align-items: center;
}

#landing__introduce {
  width: 60%;
  height: 500px;
}

#introduce__wrapper {
  display: flex;
  align-items: center;
}

#introduce__image > img {
  margin: 60px;
  width: 60%;
}

#introduce__text {
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans KR';
  color: white;
}
