.chat__list {
  background-color: rgb(236, 236, 236);
  width: 30%;
  height: 700px;
  font-family: 'Noto Sans KR';
}

.chat__list > ul > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background-color: gray;
}

.chat__list > ul > li {
  border: 1px solid black;
  height: 50px;
}

.chattingroomlist__link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: inherit;
  font-size: 15px;
  background-color: aliceblue;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.chattingroomlist__image > img {
  width: 35px;
}

.chattingroomlist__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  width: 300px;
}

.chattingroomlist__name {
  font-weight: 700;
  margin-bottom: 3px;
}

.chattingroomlist__subject {
  font-size: 12px;
}
