#header__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  height: 80px;
  background-color: white;
  z-index: 9999;
  box-shadow: -10px -10px 35px gray;
}

#headers {
  font-size: 17px;
  font-family: 'Noto Sans KR';
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.header__link > img {
  margin-left: 20px;
  width: 90px;
  height: auto;
  cursor: pointer;
  z-index: 10;
}

#nav > #ul {
  display: flex;
  text-align: center;
  list-style: none;
}

#ul > li {
  margin-left: 10px;
  margin-right: 40px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
  color: black;
}

#ul > li:hover {
  color: #151f38;
}

.header__link {
  color: inherit;
  cursor: pointer;
  all: unset;
  transition: all 0.3s;
}

.header__link:hover {
  color: #22cc88;
}

.nav-btn {
  all: unset;
}

/* 해상도 1400px */
@media all and (max-width: 1400px) {
  #header__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    height: 80px;
    background-color: white;
    z-index: 9999;
    box-shadow: -10px -10px 35px gray;
  }

  #headers {
    font-size: 17px;
    font-family: 'Noto Sans KR';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
  }

  .header__link > img {
    width: 90px;
    height: auto;
    cursor: pointer;
    z-index: 10;
    margin-left: -5px;
  }

  #ul > li {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
    color: black;
  }

  #nav > #ul {
    margin-top: 10px;
    margin-left: 36px;
    font-size: 15px;
  }
}

/* 해상도 750px */
@media all and (max-width: 750px) {
  #header__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    height: 80px;
    background-color: white;
    z-index: 9999;
    box-shadow: -10px -10px 35px gray;
  }
  #nav > #ul {
    display: flex;
    font-size: 14px;
    margin-top: 8px;
    margin-left: 36px;
    white-space: nowrap; /* 글씨 줄바꿈 방지 */
  }

  #ul > #li {
    margin-right: 20px;
  }
}
