.body__wrapper {
  min-height: 100%;
  position: relative;
}

.footer {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-size: 11px;
  width: 100%;
  height: 120px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-top: 1px solid rgb(219, 219, 219);
  border-top: 1px solid rgb(219, 219, 219);
}

.footer__wrapper {
  display: flex;
  background-color: white;
  margin-left: 20px;
}

.github {
  margin-left: -1px;
}

.github__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 25px;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}

.github__link > img {
  width: 20px;
  height: 20px;
}

.footer > img {
  width: 150px;
  margin-bottom: 3px;
  margin-left: -8px;
}
