#footers {
  font-family: 'Noto Sans KR';
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #535353;
  color: white;
}

#footer__container {
  font-weight: 400;
  font-size: 11px;
  width: 60%;
  height: 250px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#footer__wrapper {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

#footer__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

#footer__menu > #footer__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;
  margin-left: -26px;
  list-style: none;
}

.footer__li {
  margin-right: 20px;
}

.footer__link {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

#footer__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer__description > span {
  font-size: 14px;

  margin-bottom: 10px;
}

#github__container {
  display: flex;
}
.github {
  margin-left: -1px;
}

.github__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 25px;
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
}

.github__link > img {
  width: 20px;
  height: 20px;
}

.footer > img {
  width: 150px;
  margin-bottom: 3px;
  margin-left: -8px;
}

#footer__copyright {
  margin-left: -15px;
}
