.landing__page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 랜딩 페이지 소개 관련 CSS */

#landing__introduce {
  width: 60%;
  height: 900px;
  /* background-color: green; */
}

#introduce__wrapper {
  display: flex;
  align-items: center;
  margin-top: 200px;
}

#introduce__image > img {
  margin: 60px;
  width: 70%;
}

#introduce__text {
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans KR';
  color: black;
  margin-right: 60px;
}

#introduce__text > h1 {
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: 700;
}

/* 채팅 소개 관련 CSS */

#chat__intro__introduce {
  width: 60%;
  height: 900px;
  /* background-color: navy; */
}

#chat__intro__wrapper {
  display: flex;
  align-items: center;
  margin-top: 200px;
}

#chat__intro__image > img {
  margin: 60px;
  width: 70%;
}

#chat__intro__text {
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans KR';
  color: black;
  margin-right: 60px;
}

#chat__intro__text > h1 {
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: 700;
}

/* 체험하기 관련 CSS */

#demo__intro__introduce {
  width: 60%;
  height: 900px;
  /* background-color: teal; */
}

#demo__intro__wrapper {
  display: flex;
  align-items: center;
  margin-top: 200px;
}

#demo__intro__image > img {
  margin: 60px;
  width: 70%;
}

#demo__intro__text {
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans KR';
  color: black;
  margin-right: 60px;
}

#demo__intro__text > h1 {
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: 700;
}
