.term__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans KR';
  margin-top: 20px;
}

.term__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.term__h1 {
  font-size: 25px;
  margin-bottom: 30px;
  font-weight: 500;
  text-decoration: underline;
  text-underline-position: under;
}

.term__h2 {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 700;
}

.term__span {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 30px;
}
